@import "base.css";
@font-face {
    font-family: 'iconfont_';  /* project id 535855 */
    src: url('http://at.alicdn.com/t/font_535855_jdqo0yi5qhzg2e29.eot');
    src: url('http://at.alicdn.com/t/font_535855_jdqo0yi5qhzg2e29.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_535855_jdqo0yi5qhzg2e29.woff') format('woff'),
    url('http://at.alicdn.com/t/font_535855_jdqo0yi5qhzg2e29.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_535855_jdqo0yi5qhzg2e29.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 531110 */
    src: url('https://at.alicdn.com/t/font_531110_bdk4vafq57jsjor.eot');
    src: url('https://at.alicdn.com/t/font_531110_bdk4vafq57jsjor.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_531110_bdk4vafq57jsjor.woff') format('woff'),
    url('https://at.alicdn.com/t/font_531110_bdk4vafq57jsjor.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_531110_bdk4vafq57jsjor.svg#iconfont') format('svg');
}
/*header*/
body{
    padding-top: 0.45rem;
    padding-bottom: 0.52rem;
}
.top{
    width: 100%;
    height: 0.45rem;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
    display: flex;
}
.top .icon{
    width: 0.45rem;
    height: 0.45rem;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
}
.title{
     margin: 0 auto;
}
.title h5{
    width: auto;
    line-height: 0.45rem;
    color: white;
    font-weight: normal;
}
.iconfont{
    font-size: 0.24rem;
    font-family: iconfont;
    font-style: normal;
    color: white;
    line-height: 0.45rem;
}

/*section*/
.me{
    width: 100%;
    height: auto;
    display: flex;
}
.photo{
    width: 1.2rem;
    height: 1.2rem;
    border: 0.1rem solid #FCFCFC;
    box-sizing: border-box;
    border-radius: 50%;
    background: #EFEFEE;
    margin: 0.1rem;
    margin-bottom: 0;
    position: relative;
}
.photo_{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
.photo_ img{
    width: 100%;
}
.introduce{
    width: 1.8rem;
    height: auto;
    margin-top: 0.1rem;
    padding: 0.1rem 0;
    box-sizing: border-box;
}
.introduce h5{
    margin-top: 0.1rem;
    font-size: 0.18rem;
    color: #333333;
    font-weight: normal;
    font-family: '幼圆';
}
.introduce p{
    width: 100%;
    font-size: 0.14rem;
    font-family: '幼圆';
    font-weight: normal;
    margin-top: 0.1rem;
    color: #aeaeae;
}
.introduce_ p{
    width: 100%;
    font-size: 0.14rem;
    font-family: '幼圆';
    font-weight: normal;
    color: #aeaeae;
    padding: 0 0.05rem 0.1rem;
}
.works{
    width: 100%;
    height: auto;
    padding: 0 0.05rem;
    box-sizing: border-box;
}
.works_title{
    font-size: 0.14rem;
    color: #eee;
    background: darkred;
    padding-left: 0.05rem;
}
.work{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work li{
    width: 49%;
    height: 2rem;
    background: lightgreen;
    margin-top: 0.05rem;
    overflow: hidden;
    position: relative;
}
.work li img{
    width: 100%;
}
.workName{
    width: 100%;
    height: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.7),rgba(0,0,0,0));
    padding: 0 0.05rem;
}
.workName h4{
    font-size: 0.14rem;
    color: #fff;
    font-weight: normal;
    margin-top: 0.1rem;
}
.workName h5{
    font-size: 0.12rem;
    color: #eee;
    margin-top: 0.03rem;
    font-weight: normal;
}
.contact{
    width: 100%;
    height: auto;
    padding: 0 0.05rem;
    box-sizing: border-box;
    margin-top: 0.1rem;
}
.contactWay{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.contactWay li{
    width: 33.33333%;
    height: 0.7rem;
    margin-top: 0.05rem;
    text-align: center;
}
.contactWay li i{
    font-family: iconfont_;
    font-style: normal;
    font-size: 0.3rem;
    line-height: 0.7rem;
}



/*footer*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.tab{
    width: 100%;
    height: 0.52rem;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: space-around;
}
.tab li{
    width: 33.33333%;
    height: 100%;
}
.tab li a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tab li span{
    display: block;
    width: 0.26rem;
    height: 0.26rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.05rem;
}
.tab li i{
    font-size: 0.2rem;
    line-height: 0.26rem;
    font-family: iconfont;
    font-style: normal;
    color: #eee;
}
.tab li h4{
    font-size: 0.12rem;
    color: #eeeeee;
    font-weight: normal;
    margin-top: 0.03rem;
}
.tab .color span{
    border: 1px solid darkred;
}
.tab .color span i{
    color: darkred;
}
.tab .color h4{
    color: darkred;
}